{% extends "base-register.html" %}
{% block screen_title %}Cadastro de Alunos{% endblock%}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      {% include 'components/toasts.html' %}
  {% endif %}
{% endwith %}
{% block screen_body %}
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a href="{{ url_for('add_aluno') }}" class="btn btn-primary">+ Novo</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Pesquisar</button>
    </form>
  </div>
</nav>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Matrícula</th>
      <th scope="col">Nome</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for aluno in alunos %}
    <tr>
      <th scope="row">{{ aluno.id }}</th>
      <td>{{ aluno.matricula }}</td>
      <td>{{ aluno.name }}</td>
      <td>
        <a class="icon-link icon-link-hover" href="{{ url_for('edit_aluno', id=aluno.id) }}">
          <i class="fas fa-pen fa-lg"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
{% block script_action %}
<script>
  const toastLiveExample = document.getElementById('liveToast')
  const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
  
  toastBootstrap.show()  
</script>
{% endblock %}