{% extends "base-register.html" %}
{% block screen_title %}Cadastro de Alunos{% endblock%}
{% block screen_body %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% include 'components/toasts.html' %}
    {% endif %}
{% endwith %}
<form method="post"
    action="{% if form.id.data %}{{ url_for('edit_aluno', id=form.id.data) }}{% else %}{{ url_for('add_aluno') }}{% endif %}"
    class="needs-validation" novalidate>
    {{ form.csrf_token }}
    <input type="hidden" name="id" value="{% if form.id.data %}{{ form.id.data }}{% endif %}">
    <div class="row g-3">
        <div class="col-md-6">
            <label for="inputMatricula" class="form-label">Matrícula</label>
            <input type="number" value="{% if form.matricula.data %}{{ form.matricula.data }}{% endif %}" required
                name="matricula" class="form-control" id="inputMatricula">
            <div class="invalid-feedback">
                Por favor informe a matrícula.
            </div>
        </div>
        <div class="col-md-6">
            <label for="inputNome" class="form-label">Nome</label>
            <input type="text" value="{% if form.nome.data %}{{ form.nome.data }}{% endif %}" name="nome" required
                class="form-control" id="inputNome">
            <div class="invalid-feedback">
                Por favor informe o nome do aluno.
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="row g-3">
        <div class="col-6">
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="{{ url_for('alunos') }}" style="width: 100px" class="btn btn-secondary"
                    type="button">Cancelar</a>
            </div>
        </div>
        <div class="col-6">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" style="width: 100px" class="btn btn-dark" type="button">Salvar</button>
            </div>
        </div>
    </div>
</form>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
{% block script_action %}
<script>
  const toastLiveExample = document.getElementById('liveToast')
  const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
  
  toastBootstrap.show()  
</script>
{% endblock %}