{% extends "base.html" %}
{% block title %}Sistema XYZ -s{% endblock %}
{% block main %}
<div class="container">
    <div style="height: 100vh;" class="row justify-content-center align-items-center">
        <div class="p-4 col-sm-4 shadow-lg">
            <h2 class="mb-5 text-center fs-1">Sistema XYZ</h2>
            <form action="{{ url_for('login') }}" method="post" class="needs-validation" novalidate>
                {{ form.csrf_token }}
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <div class="form-floating mb-4">                    
                    <input type="text" name="login" required class="form-control {% if form.login.errors %}is-invalid{% endif %}" id="floatingLogin"
                        placeholder="name@example.com">
                    <label for="floatingLogin">Usuário</label>
                    <div class="invalid-feedback">
                        Por favor informe o login.
                    </div>
                </div>
                <div class="form-floating mb-4">
                    <input type="password" name="senha" required class="form-control {% if form.senha.errors %}is-invalid{% endif %}" id="floatingPassword"
                        placeholder="Password">
                    <label for="floatingPassword">Senha</label>
                    <div class="invalid-feedback">
                        Por favor informe a senha.
                    </div>
                </div>
                <button type="submit" type="button" class="btn btn-primary d-block w-100 mb-3 mt-5">Entrar</button>
                <div class="forgot-password-link mb-3 text-right">
                    <a class="text-decoration-none" href="">Esqueceu a senha?</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}